.file-upload {
  display: block;
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
}

.file-upload .file-select {
  display: block;
  border: 2px solid #1864af;
  border-radius: 10px;
  color: #34495e;
  cursor: pointer;
  height: 40px;
  line-height: 40px;
  text-align: left;
  background: #4444ab;
  overflow: hidden;
  position: relative;
}

.file-upload .file-select .file-select-button {
  background: #193857;
  padding: 0 10px;
  display: inline-block;
  height: 40px;
  line-height: 40px;
}

.file-upload .file-select .file-select-name {
  line-height: 40px;
  display: inline-block;
  padding: 0 10px;
}

.file-upload .file-select:hover {
  border-color: #34495e;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}

.file-upload .file-select:hover .file-select-button {
  background: #34495e;
  color: #ffffff;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}

.file-upload.active .file-select {
  border-color: #3fa46a;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}

.file-upload.active .file-select .file-select-button {
  background: #3fa46a;
  color: #ffffff;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}

.file-upload .file-select input[type="file"] {
  z-index: 100;
  cursor: pointer;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  filter: alpha(opacity=0);
}

.file-upload .file-select.file-select-disabled {
  opacity: 0.65;
}

.file-upload .file-select.file-select-disabled:hover {
  cursor: default;
  display: block;
  border: 2px solid #dce4ec;
  color: #34495e;
  cursor: pointer;
  height: 40px;
  line-height: 40px;
  margin-top: 5px;
  text-align: left;
  background: #ffffff;
  overflow: hidden;
  position: relative;
}

.file-upload .file-select.file-select-disabled:hover .file-select-button {
  background: #dce4ec;
  color: #666666;
  padding: 0 10px;
  display: inline-block;
  height: 40px;
  line-height: 40px;
}

.file-upload .file-select.file-select-disabled:hover .file-select-name {
  line-height: 40px;
  display: inline-block;
  padding: 0 10px;
}

.e2_2 {
  background-color: rgba(255, 255, 255, 1);
  width: 1440px;
  height: 742px;
  position: absolute;
}

.e3_214 {
  width: 1210px;
  height: 495px;
  position: absolute;
  left: 115px;
  top: 152px;
}

.e3_148 {
  transform: rotate(89.93969240775652deg);
  width: 475.0002746582031px;
  height: 0px;
  position: absolute;
  left: 605px;
  top: 0px;
}

.e3_188 {
  background-color: rgba(231.00000143051147, 236.00000113248825, 255, 1);
  width: 510px;
  height: 351px;
  position: absolute;
  left: 700px;
  top: 43px;
  border: 2px solid
    rgb(2, 8, 34);
}

.e3_192 {
  width: 170px;
  height: 54px;
  position: absolute;
  left: 170px;
  top: 441px;
}

.e3_189 {
  background-color: rgba(
    17.00000088661909,
    27.000000290572643,
    71.00000336766243,
    1
  );
  width: 170px;
  height: 54px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.e3_191 {
  color: rgb(255, 255, 255);
  width: 85px;
  height: 23px;
  position: absolute;
  left: 42px;
  font-family: Roboto;
  text-align: center;
  font-size: 20px;
  letter-spacing: 0;
}

.e3_212 {
  width: 510px;
  height: 351px;
  position: absolute;
  left: 0px;
  top: 43px;
}

.e3_187 {
  background-color: rgba(231.00000143051147, 236.00000113248825, 255, 1);
  width: 510px;
  height: 351px;
  position: absolute;
  left: 0px;
  top: 0px;
  border: 2px solid
    rgb(2, 8, 34);
}

.e3_204 {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 2px;
  left: 2px;
}

.e3_199 {
  background-color: rgba(
    217.0000022649765,
    217.0000022649765,
    217.0000022649765,
    1
  );
  width: 200px;
  height: 200px;
  position: absolute;
  left: 0px;
  top: 0px;
}

.e3_203 {
  background-color: rgba(
    17.00000088661909,
    27.000000290572643,
    71.00000336766243,
    1
  );
  width: 150px;
  height: 150px;
  position: absolute;
  left: 25px;
  top: 25px;
}

.e3_195 {
  width: 300px;
  height: 23px;
  position: absolute;
  left: 920px;
  top: 452px;
}

.e3_193 {
  color: rgba(0, 0, 0, 1);
  width: 74px;
  height: 23px;
  position: absolute;
  left: 0px;
  top: -10px;
  font-family: Roboto;
  text-align: center;
  font-size: 23px;
  letter-spacing: 0;
}

.e3_194 {
  color: rgba(0, 0, 0, 1);
  width: 105px;
  height: 23px;
  position: absolute;
  left: 94px;
  top: 0px;
  font-family: Roboto;
  text-align: left;
  font-size: 20px;
  letter-spacing: 0;
}

.e3_213 {
  width: 994px;
  height: 76px;
  position: absolute;
  left: 418px;
  top: 40px;
}

.e3_198 {
  width: 150px;
  height: 44px;
  position: absolute;
  left: 844px;
  top: 0px;
}

.e3_196 {
  background-color: rgba(
    17.00000088661909,
    27.000000290572643,
    71.00000336766243,
    1
  );
  width: 150px;
  height: 44px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.e3_211 {
  width: 112px;
  height: 24px;
  position: absolute;
}

.e3_210 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 88px;
  top: 0px;
}

.e3_205 {
  background-color: rgba(
    217.0000022649765,
    217.0000022649765,
    217.0000022649765,
    1
  );
  width: 24px;
  height: 24px;
  position: absolute;
  left: 0px;
  top: 0px;
}

.e3_209 {
  background-color: rgba(255, 255, 255, 1);
  width: 10px;
  height: 5px;
  position: absolute;
  left: 7px;
  top: 10px;
}

.e3_197 {
  color: rgba(255, 255, 255, 1);
  width: 88px;
  height: 23px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: Roboto;
  text-align: left;
  font-size: 20px;
  letter-spacing: 0;
}

.e3_147 {
  width: 603px;
  height: 71px;
  position: absolute;
  left: 0px;
  top: 5px;
}

.e3_145 {
  background-color: rgba(231.00000143051147, 236.00000113248825, 255, 1);
  width: 603px;
  height: 71px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.e3_146 {
  color: rgba(0, 0, 0, 1);
  width: 400px;
  height: 47px;
  position: absolute;
  left: 100px;
  top: 5px;
  font-family: Roboto;
  text-align: center;
  font-size: 40px;
  letter-spacing: 0;
}
